[MASTER]
load-plugins=
    pylint.extensions.bad_builtin,
    pylint.extensions.check_elif,
    pylint.extensions.docparams,
    pylint.extensions.docstyle,
    pylint.extensions.mccabe,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.redefined_variable_type,

[MESSAGES CONTROL]
confidence=
enable=all
disable=
    docstring-first-line-empty,
    duplicate-code,
    import-error,
    invalid-name,
    locally-disabled,
    locally-enabled,
    missing-docstring,
    missing-param-doc,
    missing-raises-doc,
    missing-return-type-doc,
    missing-type-doc,
    missing-yield-doc,
    missing-yield-type-doc,
    suppressed-message,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    use-symbolic-message-instead,
